.profile_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 75%;
  padding: 1.3rem;
  background: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.backDropContainer {
  width: 100%;
  height: 30vh;
  background: gray;
  position: relative;
  border-radius: 20px;
}

.backDrop {
  width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -20%;
  left: 10%;
  text-align: center;
}

.backDrop_overLay {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -20%;
  left: 10%;
  text-align: center;
  z-index: 3;
  transition: all 0.2s;
  cursor: pointer;
  color: white;
  opacity: 0;
}

.backDrop_overLay:hover {
  background: black;
  opacity: 0.8;
}

.profileContainer_details {
  padding-top: 5rem;
}

.upper_details_container {
  display: flex;
  gap: 0.7rem;
}

.editBtn {
  background: rgb(84, 84, 225);
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.card_profileContainer {
  display: flex;
}

.card_profileContainer > img {
  width: 3.4rem;
  height: auto;
  height: 3.4rem;
  object-fit: cover;
}

/* ////////////////////////////////////////////////// */
.historyCard {
  width: 100%;
  height: 17rem;
  background: rgb(208, 208, 208);
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.historyCardContainer {
  display: flex;
  gap: 1.4rem;
  padding-top: 1.4rem;
  height: 12rem;
  width: 97%;
  overflow-x: scroll;
  flex-wrap: nowrap;

  padding-bottom: 1rem;
}

.historyCardDetails {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 8rem;
  width: 16rem;
  min-width: fit-content;
  padding-inline: 1rem;
  padding-block: 1rem;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(173, 173, 173);
}

.openModalBtn {
  height: 3rem;
  width: 12rem;
  padding-top: 0.7rem;
  padding-inline: 0.7rem;
  border-radius: 10px;
  background: rgb(84, 84, 225);
  text-align: center;
  cursor: pointer;
}
/* /////////////////////////////////////////////////////////// */
.modalContainer {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.modal {
  height: 80vh;
  width: 40vw;
  background: white;
  border-radius: 10px;
  position: relative;
  padding: 1.2rem;
  overflow: hidden;
}

.inputContainer > div {
  margin-inline: 2rem;
  margin-block: 1rem;
}

.inputContainer > div > p {
  padding-left: 0.5rem;
}

.inputContainer > div > input {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  padding: 6px;
  background-color: rgb(202, 195, 195);
  color: black;
  border: none;
  outline: none;
}

.buttonContainer {
  text-align: center;
}

.updateBtn {
  height: 3rem;
  width: 8rem;
  margin-inline: auto;
  padding-top: 0.7rem;
  border-radius: 10px;
  background: rgb(84, 84, 225);
}
